body {
  background-color: lightpink;
}

h1{
  color: pink;
  font-size: 40;
  font-family: arial, times; 
}  

.header, .body {
  background-color: white;
  border: 15px solid grey;
  padding-left: 40px;
  
}

img{
  width: 50%;
  padding-left: 70px;
  
}

.footer{
  border: 5px solid grey;
  background-color: white;
  color: pink; 
  padding-left: 120px;
}
